$blue: rgba(33, 123, 244, 1);
$black: rgba(10, 9, 61, 1);
$white: rgba(255, 255, 255, 1);
$light-gray: rgba(101, 100, 100, 1);
$input-border: rgba(204, 204, 204, 1);
$violet: rgba(35, 26, 54, 1);
$text: rgba(140, 140, 140, 1);
$bg-footer-top: rgba(43, 43, 57, 1);
$bg-footer-down: rgba(32, 32, 45, 1);